module.exports = {
  loginUrl: "https://login.salesforce.com",
  clientId : "3MVG9uudbyLbNPZOqT8XQOL2Opr0Sn8xBE2GjJnIiFDUPt4LJHOlN8at8vHoP6JG8lDtZEUkwMEG7dyR5OPlQ",
  clientSecret : "1669980603362207588",
  redirectUri : "https:/www.mysite.com",
  username : "jmpinheiro11@gmail.com",
  password : "!#Cadm34789"
};
