/**
 * copy and save this as "salesforce.js", by filling proper information;
 */
module.exports = {
  loginServerUrl : "https://login.salesforce.com",
  username : "jmpinheiro11@gmail.com",
  password : "!#Cadm34789"

  clientId : "3MVG9uudbyLbNPZOqT8XQOL2Opr0Sn8xBE2GjJnIiFDUPt4LJHOlN8at8vHoP6JG8lDtZEUkwMEG7dyR5OPlQ",
  clientSecret : "1669980603362207588",
  redirectUri : "https:/www.mysite.com",

// , bigTable : "BigTable__c"
// , upsertTable : "UpsertTable__c"
// , upsertField : "ExtId__c"
};
